canvas{

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 300px;
}
.canvascontainer{
    position: absolute;
    bottom: 0px;
}
.bar-wrapper {
    height: 300px;
    position: relative;
}
.bar {
    position: relative;
    bottom: 0;
    width: 5px;
    display: inline-block;
    border: 1px solid red;
    height: 5px;
    border-bottom: 3px solid #fff;
}